.table{
    width: 500px;
    height: 350px;
    border-top: solid 5px red;
    border-bottom: solid 5px red;
    border-collapse: collapse;
    text-align: center;

}
.linha1{
    height: 100px;
    border-bottom: solid 5px green;
}
.linha2{
    height: 100px;
    border-bottom: solid 5px green;
}
.linha3{
    height: 100px;
    border-bottom: solid 5px green;

}
.linha4{
    height: 50px;

}
.cabecalho{
    border-left: solid 3px blue;
    border-right: solid 3px blue;
    color: orange;
}
.coluna{
    color: red
}
